html body .background #input-text {
  position: absolute;
  width: 300px;
  height: 40px;
  outline: none;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #c24747;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body .background .button-1 {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  -webkit-box-shadow: #ADCFFF 0 -12px 6px inset;
          box-shadow: #ADCFFF 0 -12px 6px inset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0;
  outline: none;
  padding: 10px;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .15s;
  transition: all .15s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

html body .background .button-1:hover {
  background-color: #FFC229;
  -webkit-box-shadow: #FF6314 0 -6px 8px inset;
          box-shadow: #FF6314 0 -6px 8px inset;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

html body .background .button-1:active {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

@media (min-width: 700px) {
  html body .background .button-1 {
    font-size: 20px;
    padding: .50rem 1rem;
  }
}

html body .background #box, html body .background .box-2 {
  position: absolute;
  background-color: rgba(210, 180, 140, 0.87);
  border-radius: 10px;
  display: inline-block;
  margin-left: -33%;
  margin-top: 9%;
  width: 360px;
  height: 40px;
}

html body .background #box .trash, html body .background .box-2 .trash-2 {
  position: absolute;
  width: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

html {
  width: 100%;
  height: 100%;
}

html body {
  position: relative;
  font-family: Helvetica, sans-serif;
  color: white;
  background: aliceblue;
}

html body .background {
  position: relative;
  background-color: #ADCFFF;
  width: 500px;
  height: 800px;
  margin: 0 auto;
  text-align: center;
}

html body .background .h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px;
  color: #b99e5f;
  font-size: 69px;
  vertical-align: middle;
}

html body .background #TODO-icon {
  position: absolute;
  top: 4%;
  left: 76%;
  width: 90px;
  height: 100px;
}

html body .background ul {
  margin-bottom: 10px;
  padding: 0;
  position: absolute;
  top: 26%;
  left: 35.5%;
}

html body .background #input-text {
  top: 21%;
  left: 12%;
}

html body .background .button-1 {
  top: 22.2%;
  left: 77%;
}

html body .background #box {
  position: relative;
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body .background #box .trash {
  top: 13%;
  left: 90%;
}

html body .background #box .task {
  position: absolute;
  top: -8%;
  left: 8%;
  font-family: Helvetica, sans-serif;
}

html body .background #box .task-icon {
  position: absolute;
  top: 18%;
  left: 84%;
}

html body .background #box #checkbox {
  position: absolute;
  top: 29%;
  left: 1.5%;
}

html body .background .box-2 {
  top: 30%;
  left: 18%;
}

html body .background .box-2 .trash-2 {
  top: 13%;
  left: 90%;
}
/*# sourceMappingURL=style.css.map */